<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Medic Aparrels -</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A premium admin dashboard template by"
      name="description"
    />
    <meta content="Medic Aparrels" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/ADMIN/images/favicon.ico" />

    <!-- App css -->
    <link
      href="/ADMIN/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/icons.css" rel="stylesheet" type="text/css" />
    <link
      href="/ADMIN/css/metisMenu.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Include the Video.js stylesheet -->
    <link href="/CUSTOM/css/video-js.css" rel="stylesheet" />

    <!-- Include the Video.js library -->
    <script src="/CUSTOM/js/video.js"></script>
  </head>

  <body>
    <!-- Top Bar Start -->
    <%- include('includes/top-bar') %>
    <!-- Top Bar End -->

    <div class="page-wrapper">
      <!-- Page Content-->
      <div class="page-content">
        <div class="container-fluid">
          <!-- Page-Title -->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Medic Aparrels</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Product</a>
                    </li>
                    <li class="breadcrumb-item active">New</li>
                  </ol>
                  <!--end breadcrumb-->
                </div>
                <!--end /div-->
                <h4 class="page-title">New Product</h4>
              </div>
              <!--end page-title-box-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <!-- end page title end breadcrumb -->

          <form method="GET" action="/admin/product/new">
            <div class="row gap-2">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title mb-5">Product Details</h5>
                    <div class="form-group">
                      <label class="fw-bold text-muted"> Product Name: </label>
                      <input
                        type="text"
                        name="productName"
                        class="form-control w-100"
                        required
                        minlength="5"
                        maxlength="130"
                      />
                    </div>
                    <div class="form-group">
                      <label class="fw-bold text-muted">
                        Product Description:
                      </label>
                      <textarea
                        type="text"
                        name="productName"
                        id="elm1"
                        class="form-control w-100 editor"
                        required
                        minlength="5"
                        maxlength="3000"
                      ></textarea>
                    </div>
                    <div class="form-group">
                      <label class="fw-bold text-muted">
                        Product Category:
                      </label>
                      <select
                        type="text"
                        name="productCategory"
                        class="form-control w-100"
                        required
                        maxlength="40"
                      >
                        <option value="">-- Select --</option>
                        <option value="jackets">Jacket</option>
                        <option value="vests">Vests</option>
                        <option value="overall">Overall</option>
                      </select>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label class="fw-bold text-muted">
                          Product Price:
                        </label>
                        <input
                          type="number"
                          name="productPrice"
                          class="form-control w-100"
                          required
                          minlength="1"
                          maxlength="11"
                        />
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="fw-bold text-muted">
                          Product Currency:
                        </label>
                        <select
                          type="text"
                          name="productCurrency"
                          class="form-control w-100"
                          required
                        >
                          <option value="">-- Select --</option>
                          <option value="usd">USD - Dollar</option>
                          <option value="usd">NGN - Naira</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6">
                        <label class="fw-bold text-muted">
                          Product Size:
                        </label>
                        <select
                          type="text"
                          name="productCategory"
                          class="form-control w-100"
                          required
                        >
                          <option value="">-- Select --</option>
                          <option value="small">S (small)</option>
                          <option value="medium">M (medium)</option>
                          <option value="large">L (large)</option>
                          <option value="extra_large">XL (extra large)</option>
                          <option value="all">S M L XL (all)</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="fw-bold text-muted">
                          Product Size:
                        </label>
                        <div class="">
                          <label for="red" class="mx-2"
                            >Red
                            <input
                              type="checkbox"
                              id="red"
                              name="color-variants"
                              value="red"
                              class="form-check-inline mx-1"
                            />
                          </label>

                          <label for="blue" class="mx-2"
                            >Blue
                            <input
                              type="checkbox"
                              id="blue"
                              name="color-variants"
                              value="blue"
                              class="form-check-inline mx-1"
                            />
                          </label>

                          <label for="green" class="mx-2"
                            >Green
                            <input
                              type="checkbox"
                              id="green"
                              name="color-variants"
                              value="green"
                              class="form-check-inline mx-1"
                            />
                          </label>

                          <label for="yellow" class="mx-2"
                            >Yellow
                            <input
                              type="checkbox"
                              id="yellow"
                              name="color-variants"
                              value="yellow"
                              class="form-check-inline mx-1"
                            />
                          </label>

                          <label for="white" class="mx-2"
                            >White
                            <input
                              type="checkbox"
                              id="white"
                              name="color-variants"
                              value="white"
                              class="form-check-inline mx-1"
                            />
                          </label>

                          <label for="black" class="mx-2"
                            >Black
                            <input
                              type="checkbox"
                              id="black"
                              name="color-variants"
                              value="black"
                              class="form-check-inline mx-1"
                            />
                          </label>
                        </div>
                      </div>
                    </div>
                    <input
                      type="submit"
                      name=""
                      value="Publish"
                      class="btn btn-success w-100 d-block m-auto btn-lg"
                    />
                  </div>
                </div>
              </div>
              <!-- Other details -->
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title mb-5">Other Details</h5>
                    <div class="form-group">
                      <label class="fw-bold text-muted">
                        Product Quantity:
                      </label>
                      <input
                        type="number"
                        name="productQuantity"
                        class="form-control w-100"
                        required
                        minlength="1"
                        maxlength="130"
                      />
                    </div>
                    <div class="form-group">
                      <label class="d-block">Product Images:</label>

                      <div class="grid-2-4">
                        <label class="m-1">
                          <img
                            src="/IMAGES/img.svg"
                            class="img-fluid rounded rounded-2 shadow shadow-sm prev-image"
                          />
                          <input
                            accept="image/jpeg,image/png,image/tiff,image/webp,image/gif"
                            type="file"
                            class="form-control d-none"
                            id="prev-file"
                            required
                          />
                        </label>
                        <label class="m-1">
                          <img
                            src="/IMAGES/img.svg"
                            class="img-fluid rounded rounded-2 shadow shadow-sm prev-image"
                          />
                          <input
                            accept="image/jpeg,image/png,image/tiff,image/webp,image/gif"
                            type="file"
                            class="form-control d-none"
                            id="prev-file"
                          />
                        </label>
                        <label class="m-1">
                          <img
                            src="/IMAGES/img.svg"
                            class="img-fluid rounded rounded-2 shadow shadow-sm prev-image"
                          />
                          <input
                            accept="image/jpeg,image/png,image/tiff,image/webp,image/gif"
                            type="file"
                            class="form-control d-none"
                            id="prev-file"
                          />
                        </label>

                        <label class="m-1">
                          <img
                            src="/IMAGES/img.svg"
                            class="img-fluid rounded rounded-2 shadow shadow-sm prev-image"
                          />
                          <input
                            accept="image/jpeg,image/png,image/tiff,image/webp,image/gif"
                            type="file"
                            class="form-control d-none"
                            id="prev-file"
                          />
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="fw-bold text-muted"> Product Video: </label>
                      <label class="d-block">
                        <video
                          id="my-video"
                          class="video-js vjs-minimalist my-video mb-2 w-100"
                          style="aspect-ratio: 16/9"
                          controls
                          preload="auto"
                        >
                          <source
                            src="/VIDEO/demo.mp4"
                            type="video/mp4"
                            id="video-source"
                          />
                        </video>

                        <label class="btn btn-primary w-100" for="video"
                          >Upload Video</label
                        >
                        <input
                          type="file"
                          accept="video/*"
                          name="productQuantity"
                          class="d-none"
                          id="video"
                        />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- container -->
      </div>
      <!-- end page content -->
      <footer class="footer text-center text-sm-left">
        <div class="boxed-footer">
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Medic Aparrels
          <span class="text-muted d-none d-sm-inline-block float-right"
            >Crafted with <i class="mdi mdi-heart text-danger"></i> by
            <a href="http://veedsify.com" target="_blank">Veedsify</a</span
          >
        </div>
      </footer>
      <!--end footer-->
    </div>
    <!-- end page-wrapper -->

    <!-- jQuery  -->
    <script src="/ADMIN/js/jquery.min.js"></script>
    <script src="/ADMIN/js/bootstrap.bundle.min.js"></script>
    <script src="/ADMIN/js/metisMenu.min.js"></script>
    <script src="/ADMIN/js/waves.min.js"></script>
    <script src="/ADMIN/js/jquery.slimscroll.min.js"></script>
    <script src="/CUSTOM/js/axios.min.js"></script>
    <script src="/CUSTOM/js/sweetalert.form.js"></script>
    <script src="/CUSTOM/js/sweetalert.min.js"></script>

    <!--Wysiwig js-->
    <script src="/ADMIN/plugins/tinymce/tinymce.min.js"></script>
    <script src="/ADMIN/pages/jquery.form-editor.init.js"></script>

    <!-- App js -->
    <script src="/ADMIN/js/app.js"></script>
    <script src="/CUSTOM/js/adminScript.js"></script>
    <script>
      var player = videojs("my-video", {
        autoplay: false,
        fluid: true,
      });
    </script>
  </body>
</html>
