<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Medic Aparrels -</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A premium admin dashboard template by"
      name="description"
    />
    <meta content="Medic Aparrels" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/ADMIN/images/favicon.ico" />

    <!-- App css -->
    <link
      href="/ADMIN/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/icons.css" rel="stylesheet" type="text/css" />
    <link
      href="/ADMIN/css/metisMenu.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Top Bar Start -->
    <%- include('includes/top-bar') %>
    <!-- Top Bar End -->

    <div class="page-wrapper">
      <!-- Page Content-->
      <div class="page-content">
        <div class="container-fluid">
          <!-- Page-Title -->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Medic Aparrels</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">UI Kit</a>
                    </li>
                    <li class="breadcrumb-item active">Idle Timer</li>
                  </ol>
                  <!--end breadcrumb-->
                </div>
                <!--end /div-->
                <h4 class="page-title">Idle Timer</h4>
              </div>
              <!--end page-title-box-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <!-- end page title end breadcrumb -->
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">
                    Document
                    <small><span id="docTimeout"></span> second timeout</small>
                  </h4>
                  <p class="text-muted mb-4">
                    The idle timer is built on <a href="#">jQuery</a> and
                    provides two events: <code>idle.idleTimer</code> and
                    <code>active.idleTimer</code>, which fire when the user's
                    idle state has changed.
                  </p>
                  <div class="btn-group mb-3">
                    <a
                      href="#"
                      id="btPause"
                      class="btn btn-outline-primary btn-sm"
                      >Pause</a
                    >
                    <a
                      href="#"
                      id="btResume"
                      class="btn btn-outline-primary btn-sm"
                      >Resume</a
                    >
                    <a
                      href="#"
                      id="btElapsed"
                      class="btn btn-outline-primary btn-sm"
                      >Elapsed</a
                    >
                    <a
                      href="#"
                      id="btInit"
                      class="btn btn-outline-primary btn-sm"
                      >Init</a
                    >
                    <a
                      href="#"
                      id="btDestroy"
                      class="btn btn-outline-primary btn-sm"
                      >Destroy</a
                    >
                  </div>
                  <textarea
                    rows="10"
                    cols="30"
                    id="docStatus"
                    class="form-control"
                  ></textarea>
                </div>
                <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <!--end col-->

            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">
                    Element
                    <small><span id="elTimeout"></span> second timeout</small>
                  </h4>
                  <p class="text-muted mb-4">
                    The idle timer is built on <a href="#">jQuery</a> and
                    provides two events: <code>idle.idleTimer</code> and
                    <code>active.idleTimer</code>, which fire when the user's
                    idle state has changed.
                  </p>
                  <div class="btn-group mb-3">
                    <a
                      href="#"
                      id="btReset"
                      class="btn btn-outline-primary btn-sm"
                      >Reset</a
                    >
                    <a
                      href="#"
                      id="btLastActive"
                      class="btn btn-outline-primary btn-sm"
                      >Last Active</a
                    >
                    <a
                      href="#"
                      id="btRemaining"
                      class="btn btn-outline-primary btn-sm"
                      >Remaining</a
                    >
                    <a
                      href="#"
                      id="btState"
                      class="btn btn-outline-primary btn-sm"
                      >State</a
                    >
                  </div>
                  <textarea
                    rows="10"
                    cols="30"
                    id="elStatus"
                    class="form-control"
                  ></textarea>
                </div>
                <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!-- container -->
      </div>
      <!-- end page content -->
      <footer class="footer text-center text-sm-left">
        <div class="boxed-footer">
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Medic Aparrels
          <span class="text-muted d-none d-sm-inline-block float-right"
            >Crafted with <i class="mdi mdi-heart text-danger"></i> by
            <a href="http://veedsify.com" target="_blank">Veedsify</a</span
          >
        </div>
      </footer>
      <!--end footer-->
    </div>
    <!-- end page-wrapper -->

    <!-- jQuery  -->
    <script src="/ADMIN/js/jquery.min.js"></script>
    <script src="/ADMIN/js/bootstrap.bundle.min.js"></script>
    <script src="/ADMIN/js/metisMenu.min.js"></script>
    <script src="/ADMIN/js/waves.min.js"></script>
    <script src="/ADMIN/js/jquery.slimscroll.min.js"></script>
    <script src="/CUSTOM/js/axios.min.js"></script>
    <script src="/CUSTOM/js/sweetalert.form.js"></script>
    <script src="/CUSTOM/js/sweetalert.min.js"></script>

    <script src="/ADMIN/plugins/moment/moment.js"></script>
    <script src="/ADMIN/plugins/idle-timer/idle-timer.min.js"></script>
    <script src="/ADMIN/pages/jquery.idle-timer.init.js"></script>

    <!-- App js -->
    <script src="/ADMIN/js/app.js"></script>
    <script src="/CUSTOM/js/adminScript.js"></script>
  </body>
</html>
