<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Medic Aparrels -</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A premium admin dashboard template by"
      name="description"
    />
    <meta content="Medic Aparrels" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/ADMIN/images/favicon.ico" />

    <!-- App css -->
    <link
      href="/ADMIN/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/icons.css" rel="stylesheet" type="text/css" />
    <link
      href="/ADMIN/css/metisMenu.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Top Bar Start -->
    <%- include('includes/top-bar') %>
    <!-- Top Bar End -->

    <div class="page-wrapper">
      <!-- Page Content-->
      <div class="page-content">
        <div class="container-fluid">
          <!-- Page-Title -->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Medic Aparrels</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Product</a>
                    </li>
                    <li class="breadcrumb-item active">Category</li>
                  </ol>
                  <!--end breadcrumb-->
                </div>
                <!--end /div-->
                <h4 class="page-title">Category</h4>
              </div>
              <!--end page-title-box-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <div class="row mb-3">
            <div class="col-12">
              <button
                class="btn btn-sm btn-primary float-right"
                id="add-category"
              >
                New Category <i class="dripicons-plus"></i>
              </button>
            </div>
          </div>
          <!-- end page title end breadcrumb -->
          <div class="row">
            <div class="col-lg-12">
              <div class="accordion" id="Customers_collapse">
                <div class="card">
                  <div class="card-body">
                    <a
                      class="d-lg-flex justify-content-between"
                      data-toggle="collapse"
                      href="#category1"
                      role="button"
                      aria-expanded="true"
                      aria-controls="category1"
                    >
                      <div class="media mb-lg-0 w-100">
                        <img
                          src="/ADMIN/images/users/user-1.jpg"
                          class="mr-3 thumb-md align-self-center rounded-circle"
                          alt="..."
                        />
                        <div class="media-body align-self-center">
                          <h5 class="mt-0 mb-1">Vests</h5>
                        </div>
                        <!--end media body-->
                        <button
                          class="btn btn-sm btn-danger float-right delete-category"
                          data-category="123223"
                        >
                          <i class="dripicons-trash"></i>
                        </button>
                      </div>
                      <!--end media-->
                    </a>
                    <div
                      class="collapse"
                      id="category1"
                      data-parent="#Customers_collapse"
                    >
                      <div class="card card-body mb-0">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Eius officia sint voluptatum ipsam impedit
                          vitae, temporibus eligendi laboriosam non consequuntur
                          similique vero, porro, eos repellendus eum. Aperiam
                          perferendis optio molestiae?
                        </p>
                      </div>
                      <!--end card-->
                    </div>
                    <!--end collapse-->
                  </div>
                  <!--end card-body-->
                </div>
                <div class="card">
                  <div class="card-body">
                    <a
                      class="d-lg-flex justify-content-between"
                      data-toggle="collapse"
                      href="#category2"
                      role="button"
                      aria-expanded="true"
                      aria-controls="category2"
                    >
                      <div class="media mb-lg-0 w-100">
                        <img
                          src="/ADMIN/images/users/user-1.jpg"
                          class="mr-3 thumb-md align-self-center rounded-circle"
                          alt="..."
                        />
                        <div class="media-body align-self-center">
                          <h5 class="mt-0 mb-1">Vests</h5>
                        </div>
                        <!--end media body-->
                        <button
                          class="btn btn-sm btn-danger float-right delete-category"
                          data-category="123223"
                        >
                          <i class="dripicons-trash"></i>
                        </button>
                      </div>
                      <!--end media-->
                    </a>
                    <div
                      class="collapse"
                      id="category2"
                      data-parent="#Customers_collapse"
                    >
                      <div class="card card-body mb-0">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Eius officia sint voluptatum ipsam impedit
                          vitae, temporibus eligendi laboriosam non consequuntur
                          similique vero, porro, eos repellendus eum. Aperiam
                          perferendis optio molestiae?
                        </p>
                      </div>
                      <!--end card-->
                    </div>
                    <!--end collapse-->
                  </div>
                  <!--end card-body-->
                </div>
                <div class="card">
                  <div class="card-body">
                    <a
                      class="d-lg-flex justify-content-between"
                      data-toggle="collapse"
                      href="#category3"
                      role="button"
                      aria-expanded="true"
                      aria-controls="category3"
                    >
                      <div class="media mb-lg-0 w-100">
                        <img
                          src="/ADMIN/images/users/user-1.jpg"
                          class="mr-3 thumb-md align-self-center rounded-circle"
                          alt="..."
                        />
                        <div class="media-body align-self-center">
                          <h5 class="mt-0 mb-1">Vests</h5>
                        </div>
                        <!--end media body-->
                        <button
                          class="btn btn-sm btn-danger float-right delete-category"
                          data-category="123223"
                        >
                          <i class="dripicons-trash"></i>
                        </button>
                      </div>
                      <!--end media-->
                    </a>
                    <div
                      class="collapse"
                      id="category3"
                      data-parent="#Customers_collapse"
                    >
                      <div class="card card-body mb-0">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Eius officia sint voluptatum ipsam impedit
                          vitae, temporibus eligendi laboriosam non consequuntur
                          similique vero, porro, eos repellendus eum. Aperiam
                          perferendis optio molestiae?
                        </p>
                      </div>
                      <!--end card-->
                    </div>
                    <!--end collapse-->
                  </div>
                  <!--end card-body-->
                </div>

                <div class="card">
                  <div class="card-body">
                    <a
                      class="d-lg-flex justify-content-between"
                      data-toggle="collapse"
                      href="#category4"
                      role="button"
                      aria-expanded="true"
                      aria-controls="category4"
                    >
                      <div class="media mb-lg-0 w-100">
                        <img
                          src="/ADMIN/images/users/user-1.jpg"
                          class="mr-3 thumb-md align-self-center rounded-circle"
                          alt="..."
                        />
                        <div class="media-body align-self-center">
                          <h5 class="mt-0 mb-1">Vests</h5>
                        </div>
                        <!--end media body-->
                        <button
                          class="btn btn-sm btn-danger float-right delete-category"
                          data-category="123223"
                        >
                          <i class="dripicons-trash"></i>
                        </button>
                      </div>
                      <!--end media-->
                    </a>
                    <div
                      class="collapse"
                      id="category4"
                      data-parent="#Customers_collapse"
                    >
                      <div class="card card-body mb-0">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Eius officia sint voluptatum ipsam impedit
                          vitae, temporibus eligendi laboriosam non consequuntur
                          similique vero, porro, eos repellendus eum. Aperiam
                          perferendis optio molestiae?
                        </p>
                      </div>
                      <!--end card-->
                    </div>
                    <!--end collapse-->
                  </div>
                  <!--end card-body-->
                </div>
              </div>
              <!--end Customers_collapse-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!-- container -->
      </div>
      <!-- end page content -->
      <footer class="footer text-center text-sm-left">
        <div class="boxed-footer">
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Medic Aparrels
          <span class="text-muted d-none d-sm-inline-block float-right"
            >Crafted with <i class="mdi mdi-heart text-danger"></i> by
            <a href="http://veedsify.com" target="_blank">Veedsify</a</span
          >
        </div>
      </footer>
      <!--end footer-->
    </div>
    <!-- end page-wrapper -->

    <!-- jQuery  -->
    <script src="/ADMIN/js/jquery.min.js"></script>
    <script src="/ADMIN/js/bootstrap.bundle.min.js"></script>
    <script src="/ADMIN/js/metisMenu.min.js"></script>
    <script src="/ADMIN/js/waves.min.js"></script>
    <script src="/ADMIN/js/jquery.slimscroll.min.js"></script>

    <script src="/CUSTOM/js/axios.min.js"></script>
    <script src="/CUSTOM/js/sweetalert.form.js"></script>
    <script src="/CUSTOM/js/sweetalert.min.js"></script>

    <!-- App js -->
    <script src="/ADMIN/js/app.js"></script>
    <script src="/CUSTOM/js/adminScript.js"></script>
  </body>
</html>
