<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Medic Aparrels -</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A premium admin dashboard template by"
      name="description"
    />
    <meta content="Medic Aparrels" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/ADMIN/images/favicon.ico" />

    <!-- App css -->
    <link
      href="/ADMIN/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/icons.css" rel="stylesheet" type="text/css" />
    <link
      href="/ADMIN/css/metisMenu.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Top Bar Start -->
    <%- include('includes/top-bar') %>
    <!-- Top Bar End -->

    <div class="page-wrapper">
      <!-- Page Content-->
      <div class="page-content">
        <div class="container-fluid">
          <!-- Page-Title -->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Medic Aparrels</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">UI Kit</a>
                    </li>
                    <li class="breadcrumb-item active">Flot</li>
                  </ol>
                  <!--end breadcrumb-->
                </div>
                <!--end /div-->
                <h4 class="page-title">Flot Charts</h4>
              </div>
              <!--end page-title-box-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <!-- end page title end breadcrumb -->
          <div class="row">
            <div class="col-lg-8">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">Multiple Statistics</h4>
                  <p class="text-muted mb-3 d-inline-block text-truncate w-100">
                    Stacked chart not only shows the trends over time, you can
                    also see the cumulative sum of all data.
                  </p>
                  <div
                    id="website-stats"
                    style="height: 320px"
                    class="flot-chart"
                  ></div>
                </div>
                <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <!-- end col -->
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">Donut Pie</h4>
                  <p class="text-muted mb-3 d-inline-block text-truncate w-100">
                    Pie chart is used to see the proprotion of each data groups,
                    making Flot pie chart is pretty simple, in order to make pie
                    chart you have to incldue jquery.flot.pie.js plugin.
                  </p>
                  <div id="donut-chart">
                    <div
                      id="donut-chart-container"
                      class="flot-chart"
                      style="height: 320px"
                    ></div>
                  </div>
                </div>
                <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->

          <div class="row">
            <div class="col-lg-8">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">Realtime Statistics</h4>
                  <p class="text-muted mb-3 d-inline-block text-truncate w-100">
                    You can update a chart periodically to get a real-time
                    effect by using a timer to insert the new data in the plot
                    and redraw it.
                  </p>
                  <div
                    id="flotRealTime"
                    style="height: 320px"
                    class="flot-chart"
                  ></div>
                </div>
                <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <!-- end col -->
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">Pie Chart</h4>
                  <p class="text-muted mb-3 d-inline-block text-truncate w-100">
                    Pie chart is used to see the proprotion of each data groups,
                    making Flot pie chart is pretty simple, in order to make pie
                    chart you have to incldue jquery.flot.pie.js plugin.
                  </p>
                  <div id="pie-chart">
                    <div
                      id="pie-chart-container"
                      class="flot-chart"
                      style="height: 320px"
                    ></div>
                  </div>
                </div>
                <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- container -->
      </div>
      <!-- end page content -->
      <footer class="footer text-center text-sm-left">
        <div class="boxed-footer">
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Medic Aparrels
          <span class="text-muted d-none d-sm-inline-block float-right"
            >Crafted with <i class="mdi mdi-heart text-danger"></i> by
            <a href="http://veedsify.com" target="_blank">Veedsify</a</span
          >
        </div>
      </footer>
      <!--end footer-->
    </div>
    <!-- end page-wrapper -->

    <!-- jQuery  -->
    <script src="/ADMIN/js/jquery.min.js"></script>
    <script src="/ADMIN/js/bootstrap.bundle.min.js"></script>
    <script src="/ADMIN/js/metisMenu.min.js"></script>
    <script src="/ADMIN/js/waves.min.js"></script>
    <script src="/ADMIN/js/jquery.slimscroll.min.js"></script>
    <script src="/CUSTOM/js/axios.min.js"></script>
    <script src="/CUSTOM/js/sweetalert.form.js"></script>
    <script src="/CUSTOM/js/sweetalert.min.js"></script>

    <script src="/ADMIN/plugins/flot-chart/jquery.flot.min.js"></script>
    <script src="/ADMIN/plugins/flot-chart/jquery.flot.time.js"></script>
    <script src="/ADMIN/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="/ADMIN/plugins/flot-chart/jquery.flot.resize.js"></script>
    <script src="/ADMIN/plugins/flot-chart/jquery.flot.pie.js"></script>
    <script src="/ADMIN/plugins/flot-chart/jquery.flot.selection.js"></script>
    <script src="/ADMIN/plugins/flot-chart/jquery.flot.stack.js"></script>
    <script src="/ADMIN/plugins/flot-chart/curvedLines.js"></script>
    <script src="/ADMIN/plugins/flot-chart/jquery.flot.crosshair.js"></script>
    <script src="/ADMIN/pages/jquery.flot.init.js"></script>

    <!-- App js -->
    <script src="/ADMIN/js/app.js"></script>
    <script src="/CUSTOM/js/adminScript.js"></script>
  </body>
</html>
