<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Medic Aparrels -</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A premium admin dashboard template by"
      name="description"
    />
    <meta content="Medic Aparrels" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/ADMIN/images/favicon.ico" />

    <!-- App css -->
    <link
      href="/ADMIN/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/icons.css" rel="stylesheet" type="text/css" />
    <link
      href="/ADMIN/css/metisMenu.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Top Bar Start -->
    <%- include('includes/top-bar') %>
    <!-- Top Bar End -->

    <div class="page-wrapper">
      <!-- Page Content-->
      <div class="page-content">
        <div class="container-fluid">
          <!-- Page-Title -->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Medic Aparrels</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">UI Kit</a>
                    </li>
                    <li class="breadcrumb-item active">Chartjs</li>
                  </ol>
                  <!--end breadcrumb-->
                </div>
                <!--end /div-->
                <h4 class="page-title">Chartjs Charts</h4>
              </div>
              <!--end page-title-box-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <!-- end page title end breadcrumb -->
          <div class="row">
            <div class="col-lg-12 col-xl-8">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">Line Chart</h4>
                  <p class="text-muted mb-3 d-inline-block text-truncate w-100">
                    A line chart is a way of plotting data points on a line.
                    Often, it is used to show trend data, and the comparison of
                    two data sets.
                  </p>
                  <canvas id="lineChart" height="300"></canvas>
                </div>
                <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <!-- end col -->

            <div class="col-lg-12 col-xl-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">Donut Chart</h4>
                  <p class="text-muted mb-3 d-inline-block text-truncate w-100">
                    Pie and doughnut charts are probably the most commonly used
                    chart there are. They are divided into segments, the arc of
                    each segment shows the proportional value of each piece of
                    data.
                  </p>
                  <canvas id="doughnut" height="300"></canvas>
                </div>
                <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <!-- end col -->

            <div class="col-lg-12 col-xl-8">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">Bar Chart</h4>
                  <p class="text-muted mb-3 d-inline-block text-truncate w-100">
                    A bar chart is a way of showing data as bars. It is
                    sometimes used to show trend data, and the comparison of
                    multiple data sets side by side.
                  </p>
                  <canvas id="bar" height="300"></canvas>
                </div>
                <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <!-- end col -->

            <div class="col-lg-12 col-xl-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">Polar Chart</h4>
                  <p class="text-muted mb-3 d-inline-block text-truncate w-100">
                    Polar area charts are similar to pie charts, but each
                    segment has the same angle - the radius of the segment
                    differs depending on the value.
                  </p>
                  <canvas id="polarArea" height="300"> </canvas>
                </div>
                <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->

          <div class="row">
            <div class="col-lg-12 col-xl-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">Pie Chart</h4>
                  <p class="text-muted mb-3 d-inline-block text-truncate w-100">
                    Pie and doughnut charts are probably the most commonly used
                    chart there are. They are divided into segments, the arc of
                    each segment shows the proportional value of each piece of
                    data.
                  </p>
                  <canvas id="pie" height="300"></canvas>
                </div>
                <!--end card-body-->
              </div>
              <!-- end card -->
            </div>
            <!-- end col -->

            <div class="col-lg-12 col-xl-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">Radar Chart</h4>
                  <p class="text-muted mb-3 d-inline-block text-truncate w-100">
                    A radar chart is a way of showing multiple data points and
                    the variation between them. They are often useful for
                    comparing the points of two or more different data sets.
                  </p>
                  <canvas id="radar" height="300"></canvas>
                </div>
                <!--end card-body-->
              </div>
              <!-- end card -->
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- container -->
      </div>
      <!-- end page content -->
      <footer class="footer text-center text-sm-left">
        <div class="boxed-footer">
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Medic Aparrels
          <span class="text-muted d-none d-sm-inline-block float-right"
            >Crafted with <i class="mdi mdi-heart text-danger"></i> by
            <a href="http://veedsify.com" target="_blank">Veedsify</a</span
          >
        </div>
      </footer>
      <!--end footer-->
    </div>
    <!-- end page-wrapper -->

    <!-- jQuery  -->
    <script src="/ADMIN/js/jquery.min.js"></script>
    <script src="/ADMIN/js/bootstrap.bundle.min.js"></script>
    <script src="/ADMIN/js/metisMenu.min.js"></script>
    <script src="/ADMIN/js/waves.min.js"></script>
    <script src="/ADMIN/js/jquery.slimscroll.min.js"></script>
    <script src="/CUSTOM/js/axios.min.js"></script>
    <script src="/CUSTOM/js/sweetalert.form.js"></script>
    <script src="/CUSTOM/js/sweetalert.min.js"></script>

    <!-- Chart JS -->
    <script src="/ADMIN/plugins/chartjs/chart.min.js"></script>
    <script src="/ADMIN/pages/jquery.chartjs.init.js"></script>

    <!-- App js -->
    <script src="/ADMIN/js/app.js"></script>
    <script src="/CUSTOM/js/adminScript.js"></script>
  </body>
</html>
