<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Medic Aparrels -</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A premium admin dashboard template by"
      name="description"
    />
    <meta content="Medic Aparrels" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/ADMIN/images/favicon.ico" />

    <!-- App css -->
    <link
      href="/ADMIN/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/icons.css" rel="stylesheet" type="text/css" />
    <link
      href="/ADMIN/css/metisMenu.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Top Bar Start -->
    <%- include('includes/top-bar') %>
    <!-- Top Bar End -->

    <div class="page-wrapper">
      <!-- Page Content-->
      <div class="page-content">
        <div class="container-fluid">
          <!-- Page-Title -->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Medic Aparrels</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">UI Kit</a>
                    </li>
                    <li class="breadcrumb-item active">Sparkline</li>
                  </ol>
                  <!--end breadcrumb-->
                </div>
                <!--end /div-->
                <h4 class="page-title">Sparkline Charts</h4>
              </div>
              <!--end page-title-box-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <!-- end page title end breadcrumb -->
          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body row justify-content-center">
                  <div class="col align-self-center">
                    <h4>$775</h4>
                    <h5 class="mt-0 text-muted font-weight-normal">
                      Pie Chart
                    </h5>
                  </div>
                  <div class="col align-self-center">
                    <div id="sparkline1" class="text-center"></div>
                  </div>
                </div>
                <!--end card-body-->
              </div>
              <!--end crad-->
            </div>
            <!--end col-->

            <div class="col-lg-4">
              <div class="card">
                <div class="card-body row justify-content-center">
                  <div class="col align-self-center">
                    <h4>$301</h4>
                    <h5 class="mt-0 text-muted font-weight-normal">
                      Bar Chart
                    </h5>
                  </div>
                  <div class="col align-self-center">
                    <div id="sparkline2" class="text-center"></div>
                  </div>
                </div>
                <!--end card-body-->
              </div>
              <!--end crad-->
            </div>
            <!--end col-->

            <div class="col-lg-4">
              <div class="card">
                <div
                  class="card-body analytics-info row justify-content-center"
                >
                  <div class="col align-self-center">
                    <h4>$81</h4>
                    <h5 class="mt-0 text-muted font-weight-normal">
                      Line Chart
                    </h5>
                  </div>
                  <div class="col align-self-center">
                    <div id="sparkline4"></div>
                  </div>
                </div>
                <!--end card-body-->
              </div>
              <!--end crad-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->

          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body row justify-content-center">
                  <div class="col align-self-center">
                    <h4>$211</h4>
                    <h5 class="mt-0 text-muted font-weight-normal">
                      Composite Bar Chart
                    </h5>
                  </div>
                  <div class="col align-self-center">
                    <div id="sparkline3" class="text-center"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body row justify-content-center">
                  <div class="col align-self-center">
                    <h4>$412</h4>
                    <h5 class="mt-0 text-muted font-weight-normal">
                      Line Charts
                    </h5>
                  </div>
                  <div class="col align-self-center">
                    <div id="sparkline5" class="text-center"></div>
                  </div>
                </div>
                <!--end card-body-->
              </div>
              <!--end crad-->
            </div>
            <!--end col-->

            <div class="col-lg-4">
              <div class="card card-inverse bg-primary">
                <div class="card-body row justify-content-center">
                  <div class="col align-self-center">
                    <h4 class="text-white">$41</h4>
                    <h5 class="mt-0 text-white font-weight-normal">
                      Discrete Chart
                    </h5>
                  </div>
                  <div class="col align-self-center">
                    <div id="sparkline6" class="text-center"></div>
                  </div>
                </div>
                <!--end card-body-->
              </div>
              <!--end crad-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->

          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body row justify-content-center">
                  <div class="col align-self-center">
                    <h4>$20</h4>
                    <h5 class="mt-0 text-muted font-weight-normal">
                      Bullet Chart
                    </h5>
                  </div>
                  <div class="col align-self-center">
                    <div id="sparkline7"></div>
                  </div>
                </div>
                <!--end card-body-->
              </div>
              <!--end crad-->
            </div>
            <!--end col-->

            <div class="col-lg-4">
              <div class="card">
                <div class="card-body row justify-content-center">
                  <div class="col align-self-center">
                    <h4>$685</h4>
                    <h5 class="mt-0 text-muted font-weight-normal">
                      Box Plot Chart
                    </h5>
                  </div>
                  <div class="col align-self-center">
                    <div id="sparkline8" class="text-center"></div>
                  </div>
                </div>
                <!--end card-body-->
              </div>
              <!--end crad-->
            </div>
            <!--end col-->

            <div class="col-lg-4">
              <div class="card">
                <div class="card-body row justify-content-center">
                  <div class="col align-self-center">
                    <h4>$150</h4>
                    <h5 class="mt-0 text-muted font-weight-normal">
                      Tristate Charts
                    </h5>
                  </div>
                  <div class="col align-self-center">
                    <div id="sparkline9" class="text-center"></div>
                  </div>
                </div>
                <!--end card-body-->
              </div>
              <!--end crad-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!-- container -->
      </div>
      <!-- end page content -->
      <footer class="footer text-center text-sm-left">
        <div class="boxed-footer">
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Medic Aparrels
          <span class="text-muted d-none d-sm-inline-block float-right"
            >Crafted with <i class="mdi mdi-heart text-danger"></i> by
            <a href="http://veedsify.com" target="_blank">Veedsify</a</span
          >
        </div>
      </footer>
      <!--end footer-->
    </div>
    <!-- end page-wrapper -->

    <!-- jQuery  -->
    <script src="/ADMIN/js/jquery.min.js"></script>
    <script src="/ADMIN/js/bootstrap.bundle.min.js"></script>
    <script src="/ADMIN/js/metisMenu.min.js"></script>
    <script src="/ADMIN/js/waves.min.js"></script>
    <script src="/ADMIN/js/jquery.slimscroll.min.js"></script>
    <script src="/CUSTOM/js/axios.min.js"></script>
    <script src="/CUSTOM/js/sweetalert.form.js"></script>
    <script src="/CUSTOM/js/sweetalert.min.js"></script>

    <script src="/ADMIN/plugins/sparklines-chart/jquery.sparkline.min.js"></script>
    <script src="/ADMIN/pages/jquery.charts-sparkline.js"></script>

    <!-- App js -->
    <script src="/ADMIN/js/app.js"></script>
    <script src="/CUSTOM/js/adminScript.js"></script>
  </body>
</html>
