<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Medic Aparrels -</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A premium admin dashboard template by"
      name="description"
    />
    <meta content="Medic Aparrels" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/ADMIN/images/favicon.ico" />

    <link
      href="/ADMIN/plugins/treeview/themes/default/style.css"
      rel="stylesheet"
    />
    <link href="/ADMIN/plugins/treeview/file-explore.css" rel="stylesheet" />

    <!-- App css -->
    <link
      href="/ADMIN/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/icons.css" rel="stylesheet" type="text/css" />
    <link
      href="/ADMIN/css/metisMenu.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Top Bar Start -->
    <%- include('includes/top-bar') %>
    <!-- Top Bar End -->

    <div class="page-wrapper">
      <!-- Page Content-->
      <div class="page-content">
        <div class="container-fluid">
          <!-- Page-Title -->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Medic Aparrels</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Pages</a>
                    </li>
                    <li class="breadcrumb-item active">Treeview</li>
                  </ol>
                  <!--end breadcrumb-->
                </div>
                <!--end /div-->
                <h4 class="page-title">Treeview</h4>
              </div>
              <!--end page-title-box-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <!-- end page title end breadcrumb -->
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">Default Tree</h4>
                  <div id="jstree">
                    <!-- in this example the tree is populated from inline HTML -->
                    <ul>
                      <li
                        class="jstree-open"
                        data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                      >
                        Root node 1
                        <ul>
                          <li
                            data-jstree='{"icon":"fa fa-folder text-primary font-18"}'
                          >
                            Child node 1
                          </li>
                          <li
                            data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                          >
                            Child node 2
                          </li>
                          <li
                            data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                          >
                            Child node 3
                          </li>
                          <li
                            data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                            class="jstree-open"
                          >
                            Child node 3
                            <ul>
                              <li
                                data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                              >
                                Child node 1
                              </li>
                              <li
                                data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                              >
                                Child node 2
                                <ul>
                                  <li
                                    data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                                  >
                                    Child node 1
                                  </li>
                                  <li
                                    data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                                  >
                                    Child node 2
                                  </li>
                                </ul>
                              </li>
                              <li
                                data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                              >
                                Child node 3
                              </li>
                              <li
                                data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                              >
                                Child node 4
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li
                        data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                      >
                        Root node 2
                        <ul>
                          <li
                            data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                          >
                            Child
                          </li>
                          <li
                            data-jstree='{"icon":"fa fa-folder text-warning font-18", "disabled":true}'
                          >
                            Child
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <!--end col-->
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="mt-0 header-title">Checkable Tree</h4>
                  <div id="jstree-checkbox">
                    <!-- in this example the tree is populated from inline HTML -->
                    <ul>
                      <li
                        data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                        class="jstree-open"
                      >
                        Root node 1
                        <ul>
                          <li
                            data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                          >
                            Child node 1
                          </li>
                          <li
                            data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                          >
                            Child node 2
                          </li>
                          <li
                            data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                            class="jstree-open"
                          >
                            Child node 3
                            <ul>
                              <li
                                data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                              >
                                Child node 1
                              </li>
                              <li
                                data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                              >
                                Child node 2
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li
                        data-jstree='{"icon":"fa fa-folder text-warning font-18"}'
                      >
                        Root node 2
                      </li>
                    </ul>
                  </div>
                </div>
                <!--end card-body-->
              </div>
              <!--end card-->
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
        <!-- container -->
      </div>
      <!-- end page content -->
      <footer class="footer text-center text-sm-left">
        <div class="boxed-footer">
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Medic Aparrels
          <span class="text-muted d-none d-sm-inline-block float-right"
            >Crafted with <i class="mdi mdi-heart text-danger"></i> by
            <a href="http://veedsify.com" target="_blank">Veedsify</a</span
          >
        </div>
      </footer>
      <!--end footer-->
    </div>
    <!-- end page-wrapper -->

    <!-- jQuery  -->
    <script src="/ADMIN/js/jquery.min.js"></script>
    <script src="/ADMIN/js/bootstrap.bundle.min.js"></script>
    <script src="/ADMIN/js/metisMenu.min.js"></script>
    <script src="/ADMIN/js/waves.min.js"></script>
    <script src="/ADMIN/js/jquery.slimscroll.min.js"></script>
    <script src="/CUSTOM/js/axios.min.js"></script>
    <script src="/CUSTOM/js/sweetalert.form.js"></script>
    <script src="/CUSTOM/js/sweetalert.min.js"></script>

    <script src="/ADMIN/plugins/treeview/jstree.min.js"></script>
    <script src="/ADMIN/plugins/treeview/file-explore.js"></script>
    <script src="/ADMIN/pages/jquery.treeview.init.js"></script>

    <!-- App js -->
    <script src="/ADMIN/js/app.js"></script>
    <script src="/CUSTOM/js/adminScript.js"></script>
  </body>
</html>
