<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Medic Aparrels -</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A premium admin dashboard template by"
      name="description"
    />
    <meta content="Medic Aparrels" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/ADMIN/images/favicon.ico" />

    <!-- App css -->
    <link
      href="/ADMIN/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/icons.css" rel="stylesheet" type="text/css" />
    <link
      href="/ADMIN/css/metisMenu.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/ADMIN/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Top Bar Start -->
    <%- include('includes/top-bar') %>
    <!-- Top Bar End -->

    <div class="page-wrapper">
      <!-- Page Content-->
      <div class="page-content">
        <div class="container-fluid">
          <!-- Page-Title -->
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">Medic Aparrels</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0);">UI Kit</a>
                    </li>
                    <li class="breadcrumb-item active">Ribbons</li>
                  </ol>
                  <!--end breadcrumb-->
                </div>
                <!--end /div-->
                <h4 class="page-title">Ribbons</h4>
              </div>
              <!--end page-title-box-->
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <!-- end page title end breadcrumb -->
          <div class="row">
            <div class="col-md-3">
              <div class="ribbon-1">
                <div class="ribbon-box">
                  <div class="ribbon ribbon-mark bg-secondary">
                    Custom Ribbon
                  </div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-1">
                <div class="ribbon-box">
                  <div class="ribbon ribbon-mark bg-primary">Custom Ribbon</div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-1">
                <div class="ribbon-box">
                  <div class="ribbon ribbon-mark bg-danger">Custom Ribbon</div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-1">
                <div class="ribbon-box">
                  <div class="ribbon ribbon-mark bg-info">Custom Ribbon</div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-1">
                <div class="ribbon-box">
                  <div class="ribbon ribbon-mark ribbon-right bg-danger">
                    Custom Ribbon
                  </div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-1">
                <div class="ribbon-box">
                  <div class="ribbon ribbon-mark ribbon-right bg-info">
                    Custom Ribbon
                  </div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-1">
                <div class="ribbon-box">
                  <div class="ribbon ribbon-mark ribbon-right bg-primary">
                    Custom Ribbon
                  </div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-1">
                <div class="ribbon-box">
                  <div class="ribbon ribbon-mark ribbon-right bg-secondary">
                    Custom Ribbon
                  </div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->

            <div class="col-md-3">
              <div class="ribbon-2">
                <div class="card-box ribbon-box">
                  <div class="ribbon ribbon-secondary">Custom Ribbon</div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-2">
                <div class="card-box ribbon-box">
                  <div class="ribbon ribbon-primary">Custom Ribbon</div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-2">
                <div class="card-box ribbon-box">
                  <div class="ribbon ribbon-danger">Custom Ribbon</div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-2">
                <div class="card-box ribbon-box">
                  <div class="ribbon ribbon-info">Custom Ribbon</div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-1">
                <div class="ribbon-box">
                  <div class="ribbon ribbon-mark ribbon-icon bg-danger">
                    <i class="fas fa-star"></i>
                  </div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-1">
                <div class="ribbon-box">
                  <div class="ribbon ribbon-mark ribbon-icon bg-info">
                    <i class="fas fa-star"></i>
                  </div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-1">
                <div class="ribbon-box">
                  <div class="ribbon ribbon-mark ribbon-icon bg-primary">
                    <i class="fas fa-star"></i>
                  </div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
            <div class="col-md-3">
              <div class="ribbon-1">
                <div class="ribbon-box">
                  <div class="ribbon ribbon-mark ribbon-icon bg-secondary">
                    <i class="fas fa-star"></i>
                  </div>
                  <p class="mb-0">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form, by injected humour, or randomised words which don't
                    look even slightly believable.
                  </p>
                </div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!-- container -->
      </div>
      <!-- end page content -->
      <footer class="footer text-center text-sm-left">
        <div class="boxed-footer">
          &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          Medic Aparrels
          <span class="text-muted d-none d-sm-inline-block float-right"
            >Crafted with <i class="mdi mdi-heart text-danger"></i> by
            <a href="http://veedsify.com" target="_blank">Veedsify</a</span
          >
        </div>
      </footer>
      <!--end footer-->
    </div>
    <!-- end page-wrapper -->

    <!-- jQuery  -->
    <script src="/ADMIN/js/jquery.min.js"></script>
    <script src="/ADMIN/js/bootstrap.bundle.min.js"></script>
    <script src="/ADMIN/js/metisMenu.min.js"></script>
    <script src="/ADMIN/js/waves.min.js"></script>
    <script src="/ADMIN/js/jquery.slimscroll.min.js"></script>
    <script src="/CUSTOM/js/axios.min.js"></script>
    <script src="/CUSTOM/js/sweetalert.form.js"></script>
    <script src="/CUSTOM/js/sweetalert.min.js"></script>

    <!-- App js -->
    <script src="/ADMIN/js/app.js"></script>
    <script src="/CUSTOM/js/adminScript.js"></script>
  </body>
</html>
