.editor {
  min-height: 300px;
}

.grid-2-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.prev-image {
  aspect-ratio: 1/1;
  cursor: pointer;
  object-fit: cover;
}

.ob-fit {
  object-fit: cover;
}

.ob-fit-square {
  object-fit: cover;
  aspect-ratio: 1/1;
}

/* SWAL LIBRARY */
.swal-overlay {
  background-color: rgba(29, 29, 29, 0.45);
}

.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #e9eef1;
  overflow: hidden;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: none !important;
  outline: none !important;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  float: left;
  outline: none;
  border: none !important;
}

.swal-button:not([disabled]):hover {
    background-color: transparent !important;
    color: #000;
}

.swal-button:focus {
  box-shadow: none;
  outline: none;
}

.swal-button:hover {
  box-shadow: none;
  outline: none;
  background: transparent;
}

#elm1 {
  min-height: 300px;
}

.no-resize {
  resize: none;
}

.curp {
  cursor: pointer;
}
