<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>


<form action="  ">
  <div class="form-group">
    <label>Vendor Name:</label>
    <input type="text" name="txte" class="form-control" id="">
  </div> <div class="form-group">
    <label>Vendor Description:</label>
  <textarea type="text" name="txte" class="form-control" id=""></textarea>
  </div>
  <div class="form-group">
    <label>Vendor User:</label>
    <input type="text" name="txte" class="form-control" id="">
  </div>
  <div class="form-group">
    <label>Vendor Email:</label>
    <input type="text" name="txte" class="form-control" id="">
  </div>
  <div class="form-group">
    <label>Vendor Password:</label>
    <input type="text" name="txte" class="form-control" id="">
  </div>
</form>

</body>
</html>